RewriteEngine on

#for local
RewriteCond %{REQUEST_URI} !/public/
RewriteRule ^(.*)$ /RobertsWorkspace/public/index.php?q=$1 [NC]

#for website
#RewriteCond %{REQUEST_URI} !/public/
#RewriteRule ^(.*)$ public/index.php?path=$1 [NC,QSA]

#RewriteRule HTTP: HTTPS: [NC]