/*
*/
*{
    z-index:1;
    position:relative;
    color:white;
    padding:0px;
    margin:0px;
    font-size:1em;
    font-family: "Abel", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
a{
    -webkit-transition-property: color; 
    -webkit-transition-duration: .1s; 
    -webkit-transition-timing-function: ease;
}
a:hover{
    color:#DDD;
}
a:hover{

}
p{
    max-width:450px;
}
img{
    max-width:100%;
    max-height:100%;
}
#main{
    padding-bottom:50px;
    text-align: center;
}
ul{
    display:block;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:30px;
    text-align:left;
    /*width:calc(100% - 30px);*/
}
li{
    display:block;
}
html{
    height:100%;
}
body, html{
    min-height:100%;
    min-width:100%;
    background:#444444;
    background: #010101;
    background: -webkit-linear-gradient(#000000, #141414, #191919, #141414, #000000);
    background: -o-linear-gradient(#000000, #141414, #191919, #141414, #000000);
    background: -moz-linear-gradient(#000000, #141414, #191919, #141414, #000000);
    background: linear-gradient(#000000, #141414, #191919, #141414, #000000);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x:hidden;
    z-index: -1
}
#footerdiv{
    position:fixed;
    display:flex;
    bottom:0;
    width: 100%;
    padding-top:5px;
    padding-bottom:5px;
    font-size:18px;
    color:white;
    background: rgba(0, 0, 0, .60);
}
#privacy{
    position:fixed;
    bottom:0;
    font-size:10px;
    padding-left:10px;
    padding-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#admin{
    position:fixed;
    bottom:0;
    right:0;
    font-size:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-top:10px;
    padding-bottom:10px;
}
#footerdiv>a{
    margin-left:auto;
    margin-right:auto;
}
#header{
    width:100%;
    font-size:20px;
    padding-top:10px;
    padding-bottom:10px;
    background: rgba(0, 0, 0, .25);
    box-shadow: 0px 0px 5px black;
    position:relative;
    display:block;
    z-index:4;
}
#navwrapper{
    position:relative;
}
h1{
    text-align:center;
    display:inline-block;
    margin:auto;
    text-decoration:none;
    font-size:36px;
    margin-bottom:5px;
}
h2{
    display:inline-block;
    margin:auto;
    text-decoration:none;
    font-size:20px;
    margin-bottom:5px;
}
h3{
    text-align:center;
    display:inline-block;
    margin:auto;
    text-decoration:none;
    font-size:18px;
    margin-bottom:5px;
}
#navtop{
    z-index:3;
    position:absolute;
    -webkit-transform: translate(100%, 0%);
    transform:translate(100%, 0%);
    /*transition:transform .3s ease;*/
    background: #000000;
    width:100%;
}
#navtop.open{
    -webkit-transform:translate(0, 0);
    transform:translate(0, 0);
    background: rgba(0, 0, 0, .50);
    border-top:1px solid #444444;
    width:100%;
}
.header_link{
    z-index:4;
    position:relative;
    border-left:1px solid white;
    border-bottom:1px solid #444444;
    display:flex;
    width:100%;
    padding:10px;
    color:white;
    text-decoration:none;
}
#namebar{
    z-index:2;
    width:100%;
    display:flex;
    flex-wrap:wrap;
}
#sitename{
    align-self:flex-start;
    margin-left:25px;
    font-size:24px;;
    display:flex;
    position:relative;
    text-decoration:none;
    padding-bottom:3px;
}
#header_burger{
    align-self:flex-end;
    margin:auto;
    text-decoration:none;
    margin-right:0px;
    border:1px #444444 solid;
    border-radius:5px;
    padding:3px;
    margin-right:25px;
    height:28px;
    display:flex;
}
#header_burger.open{
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom:none;
    height:29px;
}
.shrink-list{
    margin-left:25px;
    margin-right:-25px;
    display:inline-flex;
    flex-wrap:wrap;
    text-align:center;
    max-width:510px;

}
.shrink-list>li{
    text-align:center;
    display:inline-flex;
    width:calc(33% - 8px);
    margin-left:4px;
    margin-right:4px;
}

.contentdiv{
    max-width:800px;
    display:inline-block;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    padding:10px;
    font-size:18px;
    text-align:left;
}
.absolutecontentdiv{
    width:calc(100% - 20px);
    margin:0px;
    display:inline-block;
    bottom:0;
    padding:10px;
    font-size:18px;
    background:rgba(0,0,0,.75);
    box-shadow: 0px 0px 5px black;
    border-radius:5px;
    left:0;
    height:500px;
    text-align:left;
}
.contactdiv{
    display:flex;
    max-width:386px;
    text-align:center;

}
.contactdiv>form{
    width:100%;
}
.contactdiv>form>input[type="text"], textarea{
    display:inline-flex;
    width:calc(100% - 20px);
    color:black;
    border:0px;
    border-radius:5px;
    padding:5px;
    margin:5px;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
}
input[type="text"]:focus, textarea:focus{
    outline:none;
    background:#E5E5FF;
}
.label{
    text-align:center;
    width:100%;
    display: inline-flex;
}
#highlighter{
    display:none;
    position:absolute;
}
textarea{
    resize:none;
}
.crispbutton{
    font-size:18px;
    color:white;
    display:inline-block;
    height:auto;
    margin:auto;
    padding:5px;
    border-radius:80px;
    border:1px #AAA;
    border-style:solid;
    background:rgba(0,0,0,0);
    -webkit-transition-property:background, color; 
    -webkit-transition-duration: .3s, .1s; 
    -webkit-transition-timing-function: ease, ease;
}
.crispbutton:hover{
    color:black;
    background:rgba(255,255,255,1);
}
.crispbutton>a{
    color:inherit;
    text-decoration:inherit;
    /*position:absolute;
    right:50%;
    bottom:50%;
    -webkit-transform: translate(50%, 50%);
    transform:translate(50%, 50%);*/
}
.titlediv{
    margin-top:20px;
}
.projectcontainer{
    text-align:center;
    width:100%;
    max-width:600px;
    vertical-align:middle;
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
}
.projectdescription{
    width:100%;
    text-align:left;
}
.imagediv{
    border-radius:15px;
    position:relative;
    display:inline-flex;
    width:100%;
}
div.centered{
    text-align:center;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (min-width:520px){

    #namebar{
        flex-wrap:wrap;
        width:237px;
        display:inline-flex;
    }
    #navwrapper{
        max-width:800px;
        display:flex;
        margin-left:auto;
        margin-right:auto;
    }
    #navtop{
        width:auto;
        transform:none;
        -webkit-transform:none;
        position:relative;
        display:inline-flex;
        font-size:20px;
        padding-left:20px;
        padding-top:0px;
        border:0px;
        padding-bottom:0px;
        margin-bottom:0px;
        background:none;
    }
    #navtop.open{
        width:auto;
        transform:none;
        -webkit-transform:none;
        position:relative;
        display:inline-flex;
        font-size:20px;
        padding-left:20px;
        padding-top:0px;
        border:0px;
        padding-bottom:0px;
        margin-bottom:0px;
        background:none;
    }
    #header_burger{
        display:none;
    }
    .header_link{
        width:auto;
        display:inline-flex;
        border:0px;
        padding:0px;
        padding-top:5px;
        padding-bottom:0px;
        padding-right:0px;
        margin-right:20px;
        color:white;
        text-decoration:none;

    }
    .header_link:last-of-type{
        margin-right:0px;
    }
    .shrink-list>li{
        display:inline-flex;
        width:calc(25% - 8px);
        margin-left:4px;
        margin-right:4px;
        text-align:center;
    }

    #highlighter{

        display:block;
        height:1px;
        width:231px;
        opacity:.85;
        /*border:1px black solid;*/
        position:absolute;
        bottom:6px;
        left:-1500000px;
        background: white;
        background: white;
        background: white;
        background: white;
        background: white;
    }
}
